@page
@model DepartmentsModel
@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>
<div class="departments-container">
@foreach (var department in Model.Departments)
{
    <div class="department_div">
    @if (department.Nazwa == "IT")
    {
        <p>
        <a asp-page="/Quizy" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/IT.png">  </a>
            </p>
    }
    @if (department.Nazwa == "Sport")
    {
        <p>
                <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/Sport.png"></a>
        </p>
    }
        @if (department.Nazwa == "Geography")
        {
            <p>
                <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/Geography.png"></a>
            </p>
        }
        @if (department.Nazwa == "History")
        {
            <p>
                <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/History.png"></a>
            </p>
        }
        @if (department.Nazwa == "Animals")
        {
            <p>
                <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/Animals.png"></a>
            </p>
        }
        @if (department.Nazwa == "Arts")
        {
            <p>
                <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId" asp-route-nazwaDzialu="@department.Nazwa"><img class="department_img" src="~/Art.png"></a>
            </p>
        }
    </div>
}
</div>
