@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <div class="form-group">
        <label for="SelectedCategory">Kategoria:</label>
        <select class="form-control" id="category" asp-for="SelectedCategory">
            <option value="">Wybierz kategorię</option>
            <option value="linux">Linux</option>
            <option value="bash">Bash</option>
            <option value="uncategorized">Uncategorized</option>
            <option value="docker">Docker</option>
            <option value="sql">SQL</option>
            <option value="cms">CMS</option>
            <option value="code">Code</option>
            <option value="devops">DevOps</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SelectedDifficulty">Poziom trudności:</label>
        <select class="form-control" id="difficulty" asp-for="SelectedDifficulty">
            <option value="">Wybierz poziom trudności</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SelectedLimit">Limit pytań:</label>
        <select class="form-control" id="limit" asp-for="SelectedLimit">
            <option value="">20</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>

        </select>
    </div>
    <h2>
        <button type="submit">
            Show questions
            <img class="show-button-icon" src="~/right-arrow.png" />
        </button>
    </h2>
</form>

<div class="text-center">
    <h1 class="display-4">Quiz Questions</h1>
    @if (Model.Questions != null)
    {
        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Id </th>
                    <th>Answers</th>
                    <th>MultipleCorrectAnswers </th>
                    <th>Correct Answers</th>
                    <th>Correct Answer</th>
                    <th>Category</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<QuestionModel> Pytania = new List<QuestionModel>();
                }
                @foreach (var question in Model.Questions)
                {

                    Pytania.Add(question);
                }
                @foreach (var pytanie in Pytania)
                {
                    <tr>
                        <td>@pytanie.Question</td>
                        <td>@pytanie.Id</td>
                        <td>
                            <ul>
                                <li>@pytanie.Answers.Answer_A</li>
                                <li>@pytanie.Answers.Answer_B</li>
                                <li>@pytanie.Answers.Answer_C</li>
                                <li>@pytanie.Answers.Answer_D</li>
                                <li>@pytanie.Answers.Answer_E</li>
                                <li>@pytanie.Answers.Answer_F</li>
                            </ul>
                        </td>
                        <td>@pytanie.MultipleCorrectAnswers</td>
                        <td>
                            <ul>
                                <li>@pytanie.Correct_Answers.Answer_A_Correct.ToString()</li>
                                <li>@pytanie.Correct_Answers.Answer_B_Correct.ToString()</li>
                                <li>@pytanie.Correct_Answers.Answer_C_Correct.ToString()</li>
                                <li>@pytanie.Correct_Answers.Answer_D_Correct.ToString()</li>
                                <li>@pytanie.Correct_Answers.Answer_E_Correct.ToString()</li>
                                <li>@pytanie.Correct_Answers.Answer_F_Correct.ToString()</li>
                            </ul>
                        </td>
                        <td>@pytanie.Correct_Answer</td>
                        <td>@pytanie.Category</td>
                        <td>@pytanie.Difficulty</td>
                    </tr>
                }
            </tbody>
        </table>



        <div id="questionInfoContainer">
        </div>
        <div id="questionsContainer">
                       
        </div>
        <div id="countdownContainer">

        </div>
        <dib id="testContainer">

        </dib>

       
    }
    else
    {
        <p class="text-center">Brak dostępnych pytań.</p>
    }
</div>
<script>
    // Tablica z pytaniami
    var questions = @Html.Raw(Json.Serialize(Model.Questions));

    // Pobierz referencje do elementów DOM
    var questionsContainer = document.getElementById("questionsContainer");
    var countdownContainer = document.getElementById("countdownContainer");
    var questionInfoContainer = document.getElementById("questionInfoContainer");
    var testContainer = document.getElementById("testContainer");
    

    // Zmienne do przechowywania aktualnego indeksu pytania i liczby poprawnych odpowiedzi
    var currentQuestionIndex = 0;
    var correctAnswersCount = 0;

    var countdownTime = 20; // Czas w sekundach
    var countdownInterval; // Zmienna przechowująca identyfikator interwału
    var countdownActive = false; // Zmienna informująca, czy odliczanie jest aktywne

    // Funkcja do wyświetlania pytania
    function displayNextQuestion() {
        // Wyczyść zawartość kontenerów przed dodaniem nowych danych
        questionsContainer.innerHTML = "";
        countdownContainer.innerHTML = "";

        if (countdownActive) {
            // Jeśli odliczanie jest aktywne, zatrzymaj je
            clearInterval(countdownInterval);
            countdownActive = false;
        }

        if (currentQuestionIndex < questions.length) {
            var currentQuestion = questions[currentQuestionIndex];

            // Dodaj informację o bieżącym pytaniu
            questionInfoContainer.innerHTML = "Pytanie " + (currentQuestionIndex + 1) + "/" + questions.length;

            // Dodaj treść pytania
            questionsContainer.innerHTML += "<p>" + currentQuestion.question + "</p>";
           
            // Dodaj przyciski dla odpowiedzi w oddzielnych divach
            for (var key in currentQuestion.answers) {
                if (currentQuestion.answers.hasOwnProperty(key) && currentQuestion.answers[key] !== null) {
                    var answerDiv = document.createElement("div");
                    var button = document.createElement("button");
                    
                    button.innerHTML = key.slice(-1) + ". " + currentQuestion.answers[key];
                    button.addEventListener("click", function (event) {
                        // Funkcja obsługująca kliknięcie w odpowiedź
                        
                        displayNextQuestion();
                    });
                    answerDiv.appendChild(button);
                    questionsContainer.appendChild(answerDiv);
                }
            }
            testContainer.innerHTML += "odpowiedzi:";
            for (var c_answer in currentQuestion.correct_answers) {
                if (currentQuestion.correct_answers.hasOwnProperty(c_answer) && currentQuestion.correct_answers[c_answer] !== null) {
                    var diverse = document.createElement("div");
                    diverse.innerHTML = c_answer + " , " + currentQuestion.correct_answers[c_answer];
                    testContainer.appendChild(diverse);
                }
            }
            // Uruchom odliczanie
            startCountdown();

            currentQuestionIndex++;
        } else {
            questionInfoContainer.innerHTML = ""; // Wyczyść informację o pytaniu
            displayResults();
            // Opcjonalnie możesz dodać obsługę zakończenia quizu
        }
    }
    function checkAnswer(){

    }
   

    // Funkcja do uruchamiania odliczania
    function startCountdown() {
        countdownTime = 20; // Zresetuj czas odliczania
        countdownActive = true; // Ustaw flagę aktywności odliczania

        countdownInterval = setInterval(function () {
            countdownContainer.innerHTML = "Czas do następnego pytania: " + countdownTime + "s";

            if (countdownTime <= 0) {
                clearInterval(countdownInterval);
                countdownActive = false; // Zresetuj flagę aktywności odliczania
                displayNextQuestion();
            }

            countdownTime--;
        }, 1000);
    }

    

    // Funkcja do wyświetlania wyników
    function displayResults() {
        questionsContainer.innerHTML = "Wynik: " + correctAnswersCount+"/"+questions.length;
    }

    // Wywołaj funkcję, aby wyświetlić pierwsze pytanie
    displayNextQuestion();
</script>















